.DS_Store
.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/node_modules/
api/storage/
engine/.venv/
engine/training/audio/
engine/training/analysis/
web/node_modules/
web/dist/
pwa/dist/
